.heading{
    background-color: #3a3e45;
    /* min-height: 3vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
    color: white;
}

.footer{
    background-color: #b2c6ee;
    margin: 1rem 0 1rem 0;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.icons{
    background-color: #b2c6ee;
    margin: .5rem 2rem .3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.bio{
    margin: 0 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}